body{
	width:100%;
	margin: 0 auto;
	height: auto;
	min-width: 910px;
}
.index-top {
	width: 100%;
	height: 50px;
	background: #008cd6;
}
.index-top-div {
	width: 910px;
	height: 50px;
	background: #008cd6;
	margin: 0 auto;
}
.index-top-company{
	float:right;
	margin:0 auto; 
	/*text-align:center;*/
	height:50px;
	width:512px;
}
.index-top-company span{
/* color: #D61414;*/
	color:#fff;
	margin-top: 22px;
	line-height: 50px;
	font-size: 30px;
	font-family: -webkit-pictograph !important;
}
.index-top-menu{
	float:right;
	margin:0 auto; 
	text-align:center;
	height:50px;
	width:100px;
}
.index-top-link{
	color: #fff;
	padding: 0 10px;
	margin-top: 22px;
	cursor: pointer;
	text-decoration: none;
	line-height: 50px;
}

.index-menu{
	height:110px;
	margin:0 auto; 
	width:910px; 
}
.index-menu .btn{
	float:left;
	cursor: pointer;
	background: #fff;
	border-color: #fff;
	width:130px;
	height:110px;
	line-height: 110px;
	text-align:center;
	border-left: 1px solid #f2f2f2;
	font-size: 20px;

	-webkit-transition: -webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
	transition-property: width,height,transform,background,font-size,opacity;
	transition-duration: 1s,1s,1s,1s,1s,1s;
	border-radius: 5px;

}
.index-menu .right{
	border-right: 1px solid #f2f2f2;
}
.index-menu .btn:hover{
	background: #229Ce7;
	border-color: #229Ce7;
	color:#fff;

	-moz-transform: rotate(8deg);
	-webkit-transform: rotate(8deg);
	-o-transform: rotate(8deg);
	transform: rotate(8deg);


}
.index-menu .current{
	background: #008cd6;
	border-color: #008cd6;
	color:#fff;
}
.index-menu-logo{
	float:left;
	height:110px;
	margin-right: 45px;
}
.index-menu-logo img{
	width:160px;
	height:110px;
}


.home-main-index-pic{
	background-color: rgba(105, 105, 107, 0.14);
	text-align: center;
	width:100%;
	height:350px;
}
.home-main-index-pic img{
	height:350px;
}

.home-main-index-content{
	width:910px;
	margin: 0 auto;
}
.home-main-index-content .about-news{
	width:910px;
	height: 200px;
}
.home-main-index-content .about{
	float: left;
	width:545px;
	height: 200px;
	border-radius: 15px 50px;
	background: #008cd6;
}
.home-main-index-content .news{
	float: left;
	margin-left:10px;
	width:355px;
	height: 200px;
	border-radius: 20px 20px;
	background: rgba(0, 140, 214, 0.43);
}
.home-main-index-content .news .list{
	width:340px;
}
.home-main-index-content .news .list .item{
	margin-left: 15px;
	margin-top: 5px;
	height: 48px;
	width:100%;
	cursor:pointer;
}
.home-main-index-content .news .list .item:hover{
	background-color:#AACDFD;
}
.home-main-index-content .news .list .item>img{
	float: left;
	width:48px;
	height: 48px;
}
.home-main-index-content .news .list .item .content{
	float: left;
	margin-left: 10px;
	height: 48px;
	width: 275px;
	font-size:10px;
	letter-spacing: 1px;
}
.home-main-index-content .news .list .item .content .title{
	width: 80%;
	height: 15px;
	font-size:10px;
	text-decoration:underline;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.home-main-index-content .news .list .item .content .innercontent{
	width: 100%;
	height: 29px;
	color: #5B747B;
	text-overflow:ellipsis;
	overflow:hidden;
	margin-top: 2px;
}
.home-main-index-content .about>p{
	/*float:left;*/
	width:515px;
	height: 136px;
	margin-left: 15px;
	margin-top: 10px;
	font-size: 17px;
	font-family: -webkit-pictograph;
}
.tag{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAYAAABIdFAMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHhJREFUeNo8zjsOxCAMBFB/KEAUFFR0Cbng3nQPw68ArZdAlOZppPFIBhH5EAB8b+Tlt9MYQ6i1BuqFaq1CKSVcxZ2Acs6406KUgpt5/LCKuVgz5BDCSb13ZO99ZOdcZGvt4mJjzMVKqcha68iIePB86GAiOv8CDADlIUQBs7MD3wAAAABJRU5ErkJggg%3D%3D) repeat-x;
	display: inline-block;
	padding: 3px 8px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	margin-right: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,.25);
	vertical-align: middle;
}
.home-main-index-content .about .tag{
	margin-left:5px;
	background-color: #2daebf;
	width: 75px;
	height: 21px;
	text-align:center;
}
.home-main-index-content .news .tag{
	margin-left:10px;
	background-color: #5EBF2D;
	width: 75px;
	height: 21px;
	text-align:center;
}

.tag:hover {
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAClJREFUeNpi/v//vwMTAwPDfzjBgMpFI/7hFSOT9Y8qRuF3JLoHAQIMAHYtMmRA+CugAAAAAElFTkSuQmCC);
}

.home-main-index-content .products{
	margin-top: 20px;
}
.home-main-index-content .products>ul{
	background-color:#fff;
	border: none;
}
.home-main-index-content .products .products-products{
	width:881px;
	height: 280px;
	position: relative;
	top: 45px; 
	left: 10px; 
}

.home-main-index-content .products .products-products .slides{
	cursor: pointer; 
	position: absolute; 
	overflow: hidden; 
	left: 5px; 
	top: 0px; 
	width: 100%; 
	height: 235px;
}
.home-main-index-content .products .products-products .slides>div{
	border: 1px solid #F2F2F2;
}
.home-main-index-content .products .products-products .slides>div>img{
	position: static !important;
}

.products-category{

}