body{
	width:100%;
	margin: 0 auto;
	height: auto;
	min-width: 910px;
}
.ui_popup_notice{
	z-index: 9999;
	background-color: #fff2c8;
	border: 1px solid #eed487;
	border-radius: 3px;
	width: 645px;
	height: 43px;
	line-height: 43px;
	color: #CE9001;
	font-weight: bold;
	text-align: center;
	position: fixed;
	top: 32px;
	left: 50%;
	margin-left: -322px;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}
.index-top {
	width: 100%;
	height: 50px;
	background: rgb(104, 133, 158);
}
.index-foot{
	width:100%;
	height: 150px;
	text-align:center;
	margin-top: 60px;
}
.index-top-div {
	width: 910px;
	height: 50px;
	margin: 0 auto;
}
.index-top-company{
	float:right;
	margin:0 auto; 
	/*text-align:center;*/
	height:50px;
	width:512px;
}
.index-top-company span{
/* color: #D61414;*/
	color:#fff;
	margin-top: 22px;
	line-height: 50px;
	font-size: 30px;
	font-family: -webkit-pictograph !important;
}
.index-top-menu{
	float:right;
	margin:0 auto; 
	text-align:center;
	height:50px;
	width:100px;
}
.index-top-link{
	color: #fff;
	padding: 0 10px;
	margin-top: 22px;
	cursor: pointer;
	text-decoration: none;
	line-height: 50px;
}

.index-menu{
	height:110px;
	margin:0 auto; 
	width:910px; 
}
.index-menu .btn{
	float:left;
	cursor: pointer;
	background: #fff;
	border-color: #fff;
	width:130px;
	height:110px;
	line-height: 110px;
	text-align:center;
	border-left: 1px solid #f2f2f2;
	font-size: 20px;

	/*-webkit-transition: -webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;*/
	/*transition-property: width,height,transform,background,font-size,opacity;*/
	/*transition-duration: 1s,1s,1s,1s,1s,1s;*/
	border-radius: 5px;

}
.index-menu .right{
	border-right: 1px solid #f2f2f2;
}
.index-menu .btn:hover{
	background: rgba(104, 133, 158, 0.79);
	border-color: rgba(104, 133, 158, 0.79);
	color:#fff;

/*	-moz-transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);*/


}
.index-menu .current{
	background: rgb(104, 133, 158);
	border-color: rgba(104, 133, 158, 0.58);
	color:#fff;
}
.index-menu-logo{
	float:left;
	height:110px;
	margin-right: 45px;
}
.index-menu-logo img{
	width:160px;
	height:110px;
}
.index-main-content{
	min-height: 600px;
	min-width: 910px;
}


.home-main-index-pic{
	background-color: rgba(105, 105, 107, 0.14);
	text-align: center;
	width:100%;
	height:350px;
}
.home-main-index-pic img{
	height:350px;
}
.home-main-index-content{
	width:910px;
	margin: 0 auto;
}
.home-main-index-content .about-news{
	width:910px;
	height: 200px;
	margin-top: 20px;
}
.home-main-index-content .about{
	float: left;
	width:545px;
	height: 200px;
	border-radius: 20px 20px;
	background: rgba(0, 140, 214, 0.43);
}
.home-main-index-content .news{
	float: left;
	margin-left:10px;
	width:355px;
	height: 200px;
	border-radius: 20px 20px;
	background: rgba(0, 140, 214, 0.43);
}
.home-main-index-content .news .list{
	width:340px;
}
.home-main-index-content .news .list .item{
	margin-left: 15px;
	margin-top: 5px;
	height: 48px;
	width:100%;
	cursor:pointer;
}
.home-main-index-content .news .list .item:hover{
	background-color:#AACDFD;
}
.home-main-index-content .news .list .item>img{
	float: left;
	width:48px;
	height: 48px;
}
.home-main-index-content .news .list .item .content{
	float: left;
	margin-left: 10px;
	height: 48px;
	width: 275px;
	font-size:10px;
	letter-spacing: 1px;
}
.home-main-index-content .news .list .item .content .title{
	width: 80%;
	height: 15px;
	font-size:10px;
	text-decoration:underline;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.home-main-index-content .news .list .item .content .innercontent{
	width: 100%;
	height: 29px;
	color: #5B747B;
	text-overflow:ellipsis;
	overflow:hidden;
	margin-top: 2px;
}
.home-main-index-content .about>p{
	/*float:left;*/
	width:515px;
	height: 136px;
	margin-left: 15px;
	margin-top: 10px;
	font-size: 16px;
	font-family: -webkit-pictograph;
}
.tag{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAYAAABIdFAMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHhJREFUeNo8zjsOxCAMBFB/KEAUFFR0Cbng3nQPw68ArZdAlOZppPFIBhH5EAB8b+Tlt9MYQ6i1BuqFaq1CKSVcxZ2Acs6406KUgpt5/LCKuVgz5BDCSb13ZO99ZOdcZGvt4mJjzMVKqcha68iIePB86GAiOv8CDADlIUQBs7MD3wAAAABJRU5ErkJggg%3D%3D) repeat-x;
	display: inline-block;
	padding: 3px 8px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	margin-right: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,.25);
	vertical-align: middle;
}
.home-main-index-content .about .tag{
	margin-left:5px;
	background-color: #5EBF2D;
	width: 75px;
	height: 21px;
	text-align:center;
}
.home-main-index-content .news .tag{
	margin-left:10px;
	background-color: #5EBF2D;
	width: 75px;
	height: 21px;
	text-align:center;
}

.tag:hover {
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAClJREFUeNpi/v//vwMTAwPDfzjBgMpFI/7hFSOT9Y8qRuF3JLoHAQIMAHYtMmRA+CugAAAAAElFTkSuQmCC);
}

.home-main-index-content .products{
	margin-top: 20px;
	height: 340px;
}
.home-main-index-content .products>ul{
	background-color:#fff;
	border: none;
}
.home-main-index-content .products .products-products{
	width:881px;
	height: 280px;
	position: relative;
	top: 45px; 
	left: 10px; 
}

.home-main-index-content .products .products-products .slides{
	text-align: center;
	cursor: pointer; 
	position: absolute; 
	overflow: hidden; 
	left: 5px; 
	top: 0px; 
	width: 100%; 
	height: 235px;
}
.home-main-index-content .products .products-products .slides>div{
	border: 1px solid #F2F2F2;
}
.home-main-index-content .products .products-products .slides>div>img{
	position: static !important;
}
.home-main-index-content .products .products-products .slides>div>img:hover{
	opacity:0.85;
}

.products-category{

}
.products-category>div{
	float: left;
	border-radius: 4px 4px;
	background-color: rgba(0, 140, 214, 0.39);
	width: 40%;
	height: 40px;
	margin-left: 51px;
	margin-top: 15px;
	cursor: pointer;
	text-align: center;
	-webkit-box-shadow: 0 0 10px rgba(0, 204, 204, .5);
	-moz-box-shadow: 0 0 10px rgba(0, 204, 204, .5);
	box-shadow: 0 0 10px rgba(0, 204, 204, .5);
}
.products-category>div:hover{
	background-color:#AACDFD;
	color:#fff;
}
.products-category>div>span{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 25px;
	line-height: 40px;
}
.products-hot{

}
.products-hot .item{
	text-align: center;
	cursor: pointer;
	float: left;
	margin-left: 15px;
	border:1px solid #f2f2f2;
}
.products-hot .item:hover{
	opacity:0.85;

}
.products-hot .item>img{
	width: 190px;
	height: 190px;
}
.products-hot .item>span{
	max-width: 190px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.about-div{
	width: 910px;
	min-height: 600px;
	margin: 0 auto;
}
.about-title {
	color: #f9b014;
	display: block;
	font-size: 1.5em;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}
.about-content{
	font-family: -webkit-pictograph;
	font-size: 18px;
}
.about-contact{
	border: 1px solid #dedede;
	border-radius: 3px;
	padding: 40px;
	background-color: #f5f5f5;
}
.about-contact-name{
	float: left;
	width: 96px;
	height: 20px;
	display: block;
	font-size: 17px;
	font-family: -webkit-pictograph;
}
.about-contact-value{
	height: 32px;
	display: block;
	font-size: 17px;
	font-family: -webkit-pictograph;
}
.about-contact-value>a{
	color: #054E84;
	text-decoration:none;
}
.products-div{
	border: 1px solid rgba(119, 140, 158, 0.31);
	width: 910px;
	min-height: 600px;
	margin: 0 auto;
}
.products-left{
	display:inline-block;
	width: 294px;
	min-height: 600px;
	height: 100%;
	position: absolute;
}
.products-title{
	height: 40px;
	text-align: center;
	width: 100%;
	font-style: oblique;
	background-color: rgba(104, 133, 158, 0.28);
}
.aleft{
	text-align: left;
}
.aleft>span{
	margin-left: 15px;
}
.products-title>span{
	line-height: 40px;
}

.products-tree{
	margin-top: 10px;
}
.products-tree .item{
	position: relative;
	height: 30px;
	line-height: 30px;
	display: block;
	text-decoration: none;
	font-size: 15px;
	color: #555;
	cursor: pointer;
	transition: color 0.5s,background-color 0.5s;
	-webkit-transition: color 0.5s,background-color 0.5s; /* Safari */
}
.products-tree .item>span{
	margin-left: 20px;
}
.products-tree .item:hover{
	background-color: rgba(104, 133, 158, 0.4);
}
.products-tree .current{
	background-color: rgba(104, 133, 158, 0.63);
	color: #fff;
}
.products-tree .child{

}
.products-right{
	display:inline-block;
	width: 615px;
	min-height: 600px;
	height: 100%;
	position: relative;
	left: 294px;
	border-left: 1px solid rgba(104, 133, 158, 0.18);
}
.products-current-category {
	margin: 15px auto 15px 15px;
}
.products-current-list .item{
	display:inline-block;
	width: 180px;
	height: 180px;
	margin-left: 15px;
	text-align: center;
	border:1px solid #fff;
	cursor:pointer;
	transition: display 0.5s;
	-webkit-transition: display 0.5s; /* Safari */
}
.products-current-list .item:hover{
	border:1px solid #00A3D1;
}
.products-current-list .item>span{
	display: block;
	width: 180px;
	height: 15px;
    font-size: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.products-current-list .item>img{
	width: 150px;
	height: 150px;
}
.imgdialog img{
	width:850px;
	max-height:1000px;
}
.comming{
	font-size: 50px;
	color: #000;
	width: 100%;
	font-family: fantasy;
	min-height: 600px;
	line-height: 600px;
	text-align: center;
}

.news-detail{
	min-height: 600px;
}
.news-title{
	font-size: 26px;
	color: #333333;
	line-height: 52px;
	margin-top: 20px;
}
.news-date{
	font-size: 12px;
	color: #bbbbbb;
	margin-top: 20px;
	margin-bottom: 30px;
}
.news-content{
	color: #333333;
	font-size: 14px;
	line-height: 28px;
	margin-top: 28px;
	box-sizing: initial!important;
}