<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>admin</title>
	<meta charset="UTF-8">
	<meta http-equiv="content-type" charset="utf-8" />
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="/static/lib/jquery-ui/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/dunhuaparts.css">
	<link rel="stylesheet" type="text/css" href="/static/lib/metismenu/metisMenu.min.css">
	<link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/lib/font-awesome-4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/admin.css">
	<!-- 
	<link rel="stylesheet" href="/static/lib/bootstrap-3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/lib/font-awesome-4.5.0/css/font-awesome.min.css">
	
	<link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="http://apps.bdimg.com/libs/fontawesome/4.4.0/css/font-awesome.min.css">

	 -->
</head>
<body>
<div>
	<div class="top">
		<div class="left">
			<span class="title">后台管理</span>
		</div>
		<div class="right">
			<div>
				<a href="/admin/logout">退出</a>
			</div>
			<div>
				管理员：<span data-bind="text:User().UserName"></span>
			</div>
		</div>
	</div>
	<div class="ibody">
		<div class="menu">
		   <aside class="sidebar">
		     <nav class="sidebar-nav">
		       <ul class="metismenu" id="menu">
		         <li class="active">
		           <a aria-expanded="true">
		             <span class="sidebar-nav-item-icon fa fa-github fa-lg"></span>
		             <span class="sidebar-nav-item">网站管理</span>
		             <span class="fa arrow"></span>
		           </a>
		           <ul aria-expanded="true" class="collapse in">
		             <li>
		               <a menu-url="/admin/product/index">
		                 <span class="sidebar-nav-item-icon fa fa-star"> </span>
							产品管理
		               </a>
		             </li>
		             <li>
		               <a menu-url="/admin/news/index">
		                 <span class="sidebar-nav-item-icon fa fa-code-fork"> </span>
							新闻管理
		               </a>
		             </li>
		           </ul>
		         </li>
		         <li>
		           <a menu-url="/admin/user/index">
		             <span class="sidebar-nav-item-icon fa fa-github fa-lg"></span>
		             <span class="sidebar-nav-item">用户管理</span>
					</a>
				</li>
		       </ul>
		     </nav>
		   </aside>
		</div>
		<div class="content" id="admin-main-content">
			
		</div>
  </div>
	
</div>
<!--
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
<script src="/static/lib/jquery-2.2.2.min.js" type="text/javascript"></script>
<script src="/static/lib//knockout-3.3.0.js" type="text/javascript"></script>	
<script src="/static/lib/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>


<script src="http://apps.bdimg.com/libs/knockout.js/3.1.0/knockout.min.js" type="text/javascript"></script>	
-->
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
<script src="http://apps.bdimg.com/libs/knockout.js/3.1.0/knockout.min.js" type="text/javascript"></script>	

<script src="http://apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js" type="text/javascript"></script>
<script src="/static/lib/metismenu/metisMenu.min.js" type="text/javascript"></script>
<script src="/static/lib/cowboy.js" type="text/javascript"></script>	
<script type="text/javascript">
	$(function(){
		var ctrl_content = $('#admin-main-content');
		cowboy.views = {
			User:ko.observable({}),
			FuncInit:function(){
				var dtd = new $.Deferred();
				$.ajax({url:'/user/info',dataType:'json',type:'get'}).done(function(data){
					if(data.code==1){
						dtd.resolve();
						this.User(data.data);
					}else{
						dtd.reject();
						alert(data.error);
					}
				}.bind(this));
				$.ajax(dtd).done(function(){
					$('#menu').metisMenu();
					$('body').on('click','[menu-url]',function(e){
						var ctrl = $(e.target).jparent('[menu-url]');
						if(ctrl.length<1){
							return false;
						}
						var url = ctrl.attr('menu-url');
						$('[menu-url]').removeClass('current');
						ctrl.addClass('current');
						var nctrl = ctrl_content.find('[page-url="'+url+'"]');
						if(nctrl.length>0){
							$('[page-url]').hide('fast');
							nctrl.show('fast');
							return;
						}
						cowboy.func.get(url,function(data){
							$('[page-url]').hide('fast');
							var div = $('<div page-url="'+url+'"></div>');
							div.html(data);
							ctrl_content.append(div);
						});
					}.bind(this));
					cowboy.func.get('/admin/welcome',function(data){
						$('[page-url]').hide('fast');
						var div = $('<div page-url="welcome"></div>');
						div.html(data);
						ctrl_content.append(div);
					});
				}.bind(this)).fail(function(){
					window.location='/admin/logout';
				});
			}
		};
		ko.applyBindings(cowboy.views);
		cowboy.views.FuncInit();
		$('body').on('click','.ui-widget-overlay',function(){
			$.each($('[ui-dialog="true"]'),function(i,item){
				try{
					$(item).dialog('close');
				}catch(e){console.log(e);}
			});
		}.bind(this));
	});
</script>	
</body>
</html>